@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lato&family=Work+Sans:wght@400;500;600;700;800&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
.font-style{
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.font-style-2{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.font-style-3{
    background: linear-gradient(180deg, #F948B2 40%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-icon{
    color: #F948B2;
}
.nav-yt{
    color: red;
}

.nav-container{
    min-height: 130px;
    display: flex;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
}
.logo-container{
    display: flex;
    width: 50%;
}
.logo-container p{
    font-size: 2.8rem;
    font-weight: 700;
}
.logo-container img{
    width: 86.041px;
    object-fit: contain;
    margin-right: 20px;
}
.nav-items-container{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-items-container a{
    text-decoration: none;
    color:  #3C354F;
    font-size: 1.125rem;
    font-weight: 500;
}
.follow-btn{
    width: 262px;
    height: 56px;
    flex-shrink: 0;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding-top: 16px;
    text-align: center;
}
/* banner section */
.banner-container{
    min-height: 700px;
    display: flex;
}
.banner-text{
    background-image: url(./images/Group\ 14.png);
    background-size: cover;
    width: 47%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-text h1{
    font-size: 5.94rem;
    font-weight: 800;
}
.banner-text h2{
    font-size: 3rem;
    font-weight: 600;
    color: #0B0223;
}
.banner-text p{
    font-size: 1.25rem;
    font-weight: 500;
    color: #534C64;
    margin-top: 17px;
}
.banner-img{
    width: 53%;
    text-align: center;
}
.btn-1{
    padding: 21px 40px;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    border: none;
    margin: 41px 24px 0px 0px;
    color: white;
    font-size: 1.25rem;
    font-weight: 600;
}
.btn-2{
    padding: 21px 40px;
    border-radius: 48px;
    background: #4EC5F7;
    border: none;
    margin-top: 41px;
    color: white;
    font-size: 1.25rem;
    font-weight: 600;
}
/* online game section */
.online-section-title{
    color: #0B0223;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    margin-top: 120px;
}
.online-section-dis{
    color: #534C64;
    font-size: 1.125rem;
    font-weight: 400;
    text-align: center;
    margin-top: 16px;
}
.game-container{
    display: grid;
    grid-template-columns: repeat( 4 , 342px);
    column-gap: 24px;
    max-width: 1440px;
    margin: 48px auto 0;
    min-height: 484px;
}
.games img{
    width: 100%;
}
.games img:hover{
    opacity: 50%;
    border: 4px solid #FF42A5 ;
    border-radius: 20px;
}
.games p{
    margin-top: 24px;
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 500;
}
/* play instantly section */
.play-instant-container{
    max-width: 1440px;
    margin: 48px auto 0;
    min-height: 650px;
    display: flex;
    align-items: center;
    margin-top: 120px;
}
.play-instant-container-2{
    max-width: 1440px;
    margin: 48px auto 0;
    min-height: 650px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-top: 220px;
}
.play-instant-text{
    width: 55.91435%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.play-instant-text h1{
    font-size: 3rem;
    font-weight: 700;
}
.play-instant-text p{
    font-size: 1.125rem;
    font-weight: 400;
    color: #534C64;
    margin-top: 24px;
}
.play-instant-text > div{
    width: 353px;
    height: 294px;
    text-align: end;
}
.play-instant-photo{
    position: relative;
}
.float{
    width: 318.5px;
    height: 365.08334px;
    position: absolute;
    top:56%;
    right: 73%;
}
.play-instant-container-2 .play-text{
    text-align: start;
}
.play-instant-container-2 .float{
    left: 73%;
}
/* game icons */
.game-icon-container{
    max-width: 100%;
    padding: 0 200px;
    margin: 150px auto 0;
    min-height: 427px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    gap: 44px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}
.icons{
    width: 243px;
    height: 80px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    border-radius: 50px;
    align-items: center;
    margin-bottom: 28.17px;
    border: none;
    font-size: 1.25rem;
    font-weight: 600;
}
.icons:hover{
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border: 2px solid #FF42A5 ;
}
.icons img{
    width: 60px;
    height: 60px;
    border-radius: 50px;
}
/* footer */
.footer-container{
    max-width: 100%;
    min-height: 636px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    background: #0B0223;
    color: white;
}
.footer-div-1,.footer-div-2,.footer-div-3,.footer-div-4,.footer-div-5{
    display: flex;
    list-style: none;
    margin: 36px 0px;
    gap: 50px;
}
.icon-color{
    font-size: 2.5rem;
}
.fa-info{
    font-size: 2.1rem;
}
.icon-color:hover{
    color: #FF42A5;
}
.fa-info:hover{
    color: #FF42A5;
}
.footer-end{
    color: rgba(255, 255, 255, 0.60);
    font-size: 0.9rem;
}











@media screen and (max-width:575px) {
    .nav-container{
        flex-direction: column;
        margin-top: 103px;
    }
    .nav-items-container{
        flex-direction: column;
    }
    .nav-items-container a{
        margin-top: 36px;
    }
    /* banner */
    .banner-container{
        flex-direction: column-reverse;
        margin: 50px 40px;
        gap: 20px;
    }
    .banner-text , .banner-img{
        width: 100%;
    }
    .banner-img img{
        width: 100%;
    }
    .banner-text{
        background-size: cover;
        background-position: center;
        padding: 15px;
    }
    .banner-text h1{
        font-size: 3.94rem;
    }
    .banner-text h2{
        font-size: 2rem;
    }
    .banner-text p{
        font-size: 1.0rem;
    }
    .btn-1{
        padding: 16px 35px;
        font-size: 1.0rem;
    }
    .btn-2{
        padding: 16px 35px;
        font-size: 1.0rem;
    }
    /* online game */
    .game-container{
        grid-template-columns: 1fr;
        padding: 10px 60px;
        row-gap: 40px;
    }
    .online-section-title{
        font-size: 2rem;
    }
    .online-section-dis{
        font-size: 1.0rem;
    }
    /* instant play */
    .play-instant-container{
        flex-direction: column;
        margin: 100px 40px;
    }
    .play-instant-text , .play-instant-photo{
        width: 100%;
    }
    .play-instant-photo img{
        width: 100%;
    }
    .float{
        width: 130.5px;
        height: 135.08334px;
        position: absolute;
        top:70%
    }
    .float img{
        width: 100%;
        height: 100%;
        z-index: 1;
    }
    .play-instant-text h1{
        text-align: center;
        font-size: 2rem;
    }
    .play-instant-text p{
        text-align: center;
        font-size: 1.0rem;
    }
    /* 2nd */
    .play-instant-container-2{
        flex-direction: column;
        margin: 100px 40px;
    }
    .play-instant-text , .play-instant-photo{
        width: 100%;
    }
    .play-instant-photo img{
        width: 100%;
    }
    .float{
        width: 130.5px;
        height: 135.08334px;
        position: absolute;
        top:70%
    }
    .float img{
        width: 100%;
        height: 100%;
        z-index: 1;
    }
    .play-instant-text h1{
        text-align: center;
        font-size: 2rem;
    }
    .play-instant-text p{
        text-align: center;
        font-size: 1.0rem;
    }
    /* game icon */
    .game-icon-container{
        width: 100%;
        padding: 0;
    }
    .icons{
        width: 163px;
        height: 40px;
        background-color: white;
        display: flex;
        justify-content: space-around;
        border-radius: 50px;
        align-items: center;
        margin-top: 28.17px;
        
        border: none;
        font-size: 0.8rem;
        font-weight: 600;
    }
    .icons img{
        width: 30px;
        height: 30px;
        border-radius: 50px;
    }
    /* footer */
    .footer-container{
        width: 100%;
    }
    .footer-div-1,.footer-div-2,.footer-div-3,.footer-div-4,.footer-div-5{
        display: flex;
        list-style: none;
        margin: 36px 0px;
    }
    .footer-div-2{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
    .footer-div-4{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .icon-color{
        font-size: 1.5rem;
    }
    .fa-info{
        font-size: 1.0rem;
    }
    .footer-end{
        color: rgba(255, 255, 255, 0.60);
        font-size: 0.9rem;
    }
}





@media screen and (min-width:576px) and (max-width:960px) {
    .nav-container{
        flex-direction: column;
        gap: 50px;
        margin-top: 90px;
    }
    .logo-container , .nav-items-container{
        width: 70%;
    }
    .logo-container{
        margin-left: 300px;
    }
    /* banner */
    .banner-container{
        flex-direction: column-reverse;
        margin: 50px 40px;
        gap: 20px;
    }
    .banner-text , .banner-img{
        width: 100%;
    }
    .banner-img img{
        width: 100%;
    }
    .banner-text{
        background-size: cover;
        background-position: center;
        padding: 15px;
    }
    .banner-text h1{
        font-size: 3.94rem;
    }
    .banner-text h2{
        font-size: 2rem;
    }
    .banner-text p{
        font-size: 1.0rem;
    }
    .btn-1{
        padding: 16px 35px;
        font-size: 1.0rem;
    }
    .btn-2{
        padding: 16px 35px;
        font-size: 1.0rem;
    }
    /* online game */
    .game-container{
        grid-template-columns:repeat(2,1fr);
        padding: 10px 60px;
        gap: 40px;
    }
    /* instant plat */
    .play-instant-container{
        flex-direction: column;
        margin: 100px 80px;
    }
    .play-instant-text , .play-instant-photo{
        width: 100%;
    }
    .play-instant-photo img{
        width: 100%;
    }
    .float{
        width: 230.5px;
        height: 235.08334px;
        position: absolute;
        top:70%
    }
    .float img{
        width: 100%;
        height: 100%;
        z-index: 1;
    }
    .play-instant-text h1{
        text-align: center;
        font-size: 2rem;
    }
    .play-instant-text p{
        text-align: center;
        font-size: 1.0rem;
    }
    /* 2nd */
    .play-instant-container-2{
        flex-direction: column;
        margin: 100px 80px;
    }
    .play-instant-text , .play-instant-photo{
        width: 100%;
    }
    .play-instant-photo img{
        width: 100%;
    }
    .float{
        width: 230.5px;
        height: 235.08334px;
        position: absolute;
        top:70%
    }
    .float img{
        width: 100%;
        height: 100%;
        z-index: 1;
    }
    .play-instant-text h1{
        text-align: center;
        font-size: 2rem;
    }
    .play-instant-text p{
        text-align: center;
        font-size: 1.0rem;
    }
    /* game icon */
    .game-icon-container{
        width: 100%;
        padding: 0;
    }
    .icons{
        width: 193px;
        height: 50px;
        background-color: white;
        display: flex;
        justify-content: space-around;
        border-radius: 50px;
        align-items: center;
        margin-top: 28.17px;
        
        border: none;
        font-size: 1.0rem;
        font-weight: 600;
    }
    .icons img{
        width: 40px;
        height: 40px;
        border-radius: 50px;
    }
    /* footer */
    .footer-container{
        width: 100%;
    }
    .footer-div-1{
        padding-right: 300px;
    }
}